.written{
    color: gray;
    background-color: #ece6e66b;
    margin-left: 20px;
    margin-bottom: 10px;
}
.heading{
    font-size: 22px;
}
.para{
    font-size: 15px;
    margin-left: 10px;
    white-space: wrap;
}